CheTekCommon/__history/
TestSample/SerialObjectToJson/__history/
*.dcu
TestSample/DBGenTest/__history/
Tools/DBCodeGen/__history/
/TestSample/MysqlTest/__history
/mysql/__history
Tools/DBCodeGen/Test/__history/
